# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcuserstate
*.xcuserdatad/
project.xcworkspace/xcuserdata/
*.moved-aside

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store

# Editor
.idea/
.vscode/
*.swp
